.header{
    font-weight: 400;
}
.tengerine{
   font-family: 'Tangerine',serif;
}
.lobster{
   font-family: 'Lobster',serif;
}
.allerta{
    font-family:'Allerta Stencil';
}

.titles{
    z-index: 1;
    text-shadow:2px 2px 1.5px #888;
}
.wrapper{
    min-width:250px;
    height:60px;
    text-decoration: none;
    display: flex;
    border-width: 1px;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: inherit;
    border-left:4px solid green;
}

.recentTutorial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 77%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:center;
}

.footer{
    padding: 5%;
}
.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
a,a:hover,a:visited,a:active{
    text-decoration-line: none;
}

.sbar{
    z-index: 89;
}

.aside_design{
    width: 17%;
    box-shadow: 2px 0px 1px #c3c3c3;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow-y: auto;
    margin: -2.5% 0.5% 0% 0%;
}
.main_content{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
article > p{
    text-align: justify;
    padding: 1% 1% 1% 2%;
}
.article_content{
    width: 65%;   
}

@media screen and (max-width:992px){
    .article_content{
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
        background-color: aqua;
    }
}