.header{
    font-weight: 400;
}
.tengerine{
   font-family: 'Tangerine',serif;
}
.lobster{
   font-family: 'Lobster',serif;
}
.allerta{
    font-family:'Allerta Stencil';
}

.titles{
    z-index: 1;
    text-shadow:2px 2px 1.5px #888;
}
.wrapper{
    min-width:250px;
    height:60px;
    text-decoration: none;
    display: flex;
    border-width: 1px;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: inherit;
    border-left:4px solid green;
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
}
.recentTutorial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 87%;
}
body{
    display: flex;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
}
.footer{
    margin: 2% 0% 1% 0%;
    padding: 5%
}
.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
a,a:hover{
    text-decoration-line: none;
}